<ion-header>
  <ion-toolbar >
    <ion-title>e卡惠实时营销平台</ion-title>
    <!--<ion-label class="h_name" text-right>{{currentMember?.name}}</ion-label>-->
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="home">
        <div class="top">
            <p class="photo"><img src="assets/images/head.png"></p>
            <p class="name">海淀支行 王伟</p>
        </div>
    </div>
  <ng-container *ngFor="let item of tabs">
      <c-item [imgUrl]="item.memo" [item]="item" [label]="item.name" (do)="navigate($event)"></c-item>
  </ng-container>
  
</ion-content>
