.home .top{height:257px; width:100%; background:url(../../assets/images/bg.gif) no-repeat 0 0;background-size:100% 100%; text-align:center; padding-top:15px;}
.home .top .photo img{border-radius:50%;width:100px; height:100px; /*margin:2px auto 8px;*/}
.home .top .name{font-size:18px; color:#fff; text-align:center;}